body {
  margin: 0 !important;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 15px;
  line-height: 20px;
  background-color: #f4f5f6;
}

a {
  color: #000;
  text-transform: uppercase;
}

a:hover {
  color: #f72210;
}

footer {
  background-color: orange;
  height: auto;
  position: relative;
  bottom: 0;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  max-width: 1310px;
  height: auto;
  margin: 0 auto;
  background-color: #fff;
}

.header-top {
  background-color: #f72210;
  color: #fff;
  display: flex;
  align-content: flex-end;
  height: 95px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 5px 0 0;
}

.main {
  box-sizing: border-box;
  height: auto;
}

.header-bottom {
  background-color: #fff;
  margin-top: 95px;
  width: 100%;
  width: 100%;
  padding: 10px 0;
  border-bottom: #dedede;
}

.header-bottom > .menu > nav > a {
  color: #000;
  font-weight: 900;
  text-transform: none;
}

.header-bottom > nav > a:hover {
  color: #f72210;
}

.nav-link {
  display: block;
  padding: 0.1rem 0.5rem;
  border-right: 1px solid #dedede;
}

.menu > nav > .nav-link:last-child {
  display: block;
  padding: 0.1rem 0.5rem;
  border-right: none;
}

.input-search {
  border: none;
  text-align: right;
  width: 60px;
}

.margin-left {
  margin-left: 0;
}

.title-section {
  margin-top: 20px;
  border-bottom: 1px solid #ececec;
}

.title-section > h3 {
  margin: 0 0 0 10px;
  text-transform: uppercase;
  color: #000;
  display: flex;
  align-content: center;
}

.page-header {
  background-color: #f72210;
}

.page-header .link-white {
  color: white;
}

.page-header .link-btn-white {
  background-color: white;
  color: #f72210;
}

.page-header .brand svg {
  fill: white;
  display: block;
  width: 396px;
  height: 95px;
  margin: 10px auto 0;
  z-index: 1500;
}

.featured-content {
  height: auto;
  padding-top: 10px;
}

.featured-post {
  height: auto;
}

.featured-stories {
  height: auto;
}

.featured-stories-box {
  height: auto;
  width: auto;
  padding-top: 10px;
}

.culture-box {
  margin-bottom: 20px;
}

.featured-small-new {
  padding: 10px 0;
  font-weight: 900;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}

.opinion-box > .featured-small-new,
.more-stories-section > .featured-small-new {
  border-bottom: none;
}

.opinion-box > .featured-small-new:first-child {
  border-top: none;
}

.featured-small-new a {
  text-transform: none;
}

.featured-small-new > h4 > a:hover {
  color: #000;
  text-decoration: underline #f72210;
}

.img-feat-story {
  width: 100%;
  height: 229px;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.img-feat-story-top {
  width: 100%;
  height: 312px;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.img-culture {
  width: 100%;
  height: 162px;
  background-size: cover;
}

.img-feat-story-1 {
  background-image: url(https://d.newsweek.com/en/full/1567228/bernie-sanders.jpg?w=397&h=265&q=90&f=8211f048a2ca881057c7251a12a4ebc4);
}

.img-feat-story-2 {
  background-image: url(https://d.newsweek.com/en/full/1567290/kim-jong-un-north-korea-icbm-tests.jpg?w=397&h=265&q=90&f=5d5de304ad69a82d0d2ab9d2b403b43e);
}

.img-feat-story-3 {
  background-image: url(https://d.newsweek.com/en/full/1567196/donald-trump.webp?w=397&h=265&q=90&f=c897af14405a1594974d1992994c4735);
}

.img-feat-story-4 {
  background-image: url(https://d.newsweek.com/en/full/1567299/mother.webp?w=397&h=265&l=0&t=0&q=90&f=cd06d7519c23cf8acdc2d5f0d9ee3732);
}

.img-feat-story-top {
  background-image: url(https://d.newsweek.com/en/full/1567193/bill-barr.jpg?w=591&h=364&f=05460f976ab2e23cdfd52cbec92c7cb0);
}

.img-culture-1 {
  background-image: url(https://d.newsweek.com/en/full/1552293/cul-map-underwater-banner.webp?w=397&h=265&f=556690dba11324f197a04f43aadde8fa);
}

.img-culture-2 {
  background-image: url(https://d.newsweek.com/en/full/1542818/vineyard-remy-martin.webp?w=397&h=265&f=d9d3a493c4818bedce1a45fc03bbab38);
}

.img-culture-3 {
  background-image: url(https://d.newsweek.com/en/full/1564962/cul-map-undergroundsubways-09-91029419.webp?w=397&h=265&f=c75ea7fe40bca26ffbb19f21fccf1054);
}

.img-culture-4 {
  background-image: url(https://d.newsweek.com/en/full/1556716/twa-hotel.webp?w=397&h=265&f=7af1ce5444b4a2b638b278b6207aeb3a);
}

.section-title {
  color: rgba(3, 3, 3, 0.4);
  font: bold 16px/16px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  padding: 11px 0;
}

.culture-text {
  padding-left: 5px;
  padding-right: 5px;
}

.margin-left-5px {
  margin-left: 5px;
}

.story-title a {
  color: #000;
  text-transform: none;
  font-weight: 900;
}

h3.story-title-culture {
  padding-left: 5px;
  padding-right: 5px;
}

.story-title-culture a {
  color: #000;
  text-transform: none;
  font-family: 'Times New Roman', Times, serif;
}

.story-title a:hover {
  text-decoration: underline #f72210;
}

.story-title-culture a:hover {
  text-decoration: none;
}

.cathegory-story {
  padding: 5px;
  color: #f72210;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #ececec;
}

.cathegory-culture {
  padding: 5px;
  color: #333;
  background-color: #c2d4d7;
}

.cathegory-sponsored {
  padding: 5px;
  color: #3581f4;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #ececec;
  position: relative;
  bottom: 24px;
}

.cathegory-story:hover {
  color: #f72210;
}

.cathegory-culture:hover {
  color: #fff;
  background-color: #333;
}

.featured-various {
  height: auto;
}

.culture-and-travel-section {
  margin-top: 20px;
  background-color: #f4f5f7;
}

.image,
.image-opinion {
  width: auto;
  height: auto;
  float: left;
  margin-right: 5px;
}

.image > a > img {
  width: 135px;
  height: 90px;
}

.image-opinion > a > img {
  width: 63px;
  height: 63px;
}

.summary {
  font-weight: 400;
}

.featured-opinion {
  height: auto;
}

.block {
  display: block;
}

.sponsored-insight-box {
  height: auto;
  width: auto;
  margin: 20px 0;
}

.img-sponsored {
  width: 100%;
  height: 228px;
  background-size: cover;
}

.sponsored-summary {
  border: 1px solid #dedede;
  padding: 0 20px;
  top: -20px;
  position: relative;
}

.img-sponsored-1 {
  background-image: url(https://d.newsweek.com/en/full/1561558/saudi-picture.jpg?w=343&amp;h=229&amp;f=c38d1701b1898e7dcc79c2e2dc3aef4a);
}

.img-sponsored-2 {
  background-image: url(https://d.newsweek.com/en/full/1556483/south-texas-college-law-houston.png?w=343&amp;h=229&amp;f=38b5405ad57bd1cc7a6189c49f06e358);
}

.img-sponsored-3 {
  background-image: url(https://d.newsweek.com/en/full/1551978/media-school-indiana-university.jpg?w=343&amp;h=229&amp;f=2acd7418079f8cde5545fea5bb3815bd);
}

.img-sponsored-4 {
  background-image: url(https://d.newsweek.com/en/full/1550618/americas-most-responsible-companies-2020.jpg?w=343&amp;h=229&amp;f=228a31483952835462a9e24494fc24f7);
}

.img-sponsored-5 {
  background-image: url(https://d.newsweek.com/en/full/1559216/tokyo-my-city-chizu-nakamoto.jpg?w=343&amp;h=229&amp;f=9001796ad87af5440a19c713ba2fc017);
}

.img-sponsored-6 {
  background-image: url(https://d.newsweek.com/en/full/1563523/meet-adam-lambert-new-york-city.png?w=343&amp;h=229&amp;f=5650ee55eada1c2dbd4be78a28f9d8d0);
}

.img-sponsored-7 {
  background-image: url(https://d.newsweek.com/en/full/1562518/teach-now-2.jpg?w=343&amp;h=229&amp;f=49b15e13ed47a3d450013239f0af77cf);
}

.icon-n {
  display: inline-block;
  width: 33px;
  height: 32px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
}

.poster-magazine {
  height: auto;
  box-sizing: border-box;
}

.main-poster-container {
  width: 88%;
  height: auto;
}

.main-poster {
  background-image: url(https://d.newsweek.com/en/full/1566954/february-21-28-2020-cover.webp?w=290&h=387&q=90&f=0363d8cbe76b3b59e3ad0c42e5fd5c73);
  background-size: cover;
  height: 387px;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  margin-top: 45px;
}

.fill-content {
  width: 100%;
  height: auto;
}

.img-poster {
  background-size: cover;
  height: 290px;
  width: 100%;
}

.date-poster {
  position: absolute;
  left: 15px;
  bottom: 28px;
  color: #f22;
  background-color: #ececec;
  padding: 5px;
  text-transform: uppercase;
  font-weight: 900;
}

.bottom-link {
  display: block;
  color: #000;
  background-color: #dedede;
  text-align: center;
  margin-left: 0;
  font-weight: 900;
  width: 100%;
}

.bottom-link:hover {
  color: #000;
  background-color: #ccc;
}

.red-label {
  margin: 15px 0;
  color: #fff;
  padding: 5px 10px;
  background-color: #f22;
  font-weight: 900;
  text-transform: uppercase;
}

.cathegory-poster {
  margin: 15px 0;
  color: #f22;
  padding: 5px 10xp;
  background-color: #fff;
  font-weight: 900;
}

.label-row {
  margin: 10px 0;
}

.first-row,
.row-top,
.row-bottom {
  box-sizing: border-box;
}

.poster-magazine > .row-bottom > div,
.poster-magazine > .first-row > .secondary-poster > .row-top > div {
  height: auto;
  margin-top: 10px;
}

.editor-pick {
  margin: 10px 0;
  height: auto;
}

.editor-pick > .row > div {
  height: auto;
}

.cathegory-story-pick {
  padding: 5px;
  color: #f72210;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #ececec;
  bottom: 24px;
  position: relative;
}

.img-slide {
  width: 100%;
  height: 265px;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.slide-label {
  width: 70px;
  height: 52px;
  position: relative;
  bottom: 52px;
  left: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 58px;
  text-indent: 5px;
  text-align: center;
  background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0/contain no-repeat;
  color: #e9212e;
}

.top-slide {
  margin-top: -44px;
}

.border-bottom-section {
  border-bottom: 1px solid #c2d4d7;
  margin-bottom: 20px;
}

.featured-slideshow > .row > div {
  height: auto;
}

.picks-row {
  border: 1px solid #dedede;
}

.featured-small-list {
  padding: 10px 0;
  font-weight: 900;
}

.block-title > h3 > a {
  color: #f72210;
  font-weight: 900;
  text-transform: none;
  margin-left: 15px;
}

.picks-section > .row > div {
  height: auto;
}

.list-features > ul > li {
  border-top: 1px solid #dedede;
  height: 100px;
  margin-bottom: 10px;
}

.list-features > ul > li > .featured-small-list > a {
  text-transform: none;
}

.list-features > ul > li:first-child {
  border-top: 0;
}

.subscribe-cover {
  background-color: #dedede;
  height: 400px;
}

.newsletter {
  background-color: aqua;
  height: auto;
}

.footer-head {
  border-bottom: 1px solid #dedede;
  height: 150px;
}

.footer-links {
  height: auto;
}

/* Medium screen size */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Small screen size (min-width: 311px;) */
@media (max-width: 767px) {

}
