body {
  background-color: teal;
  margin: 0 !important;
}

a {
  text-transform: uppercase;
}

footer {
  background-color: orange;
  height: auto;
  position: relative;
  bottom: 0;
}

a:hover {
  text-decoration: none;
}

.header-top {
  background-color: #f72210;
  color: #fff;
  display: flex;
  align-content: flex-end;
  height: 95px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 5px 0 0;
}

.main {
  background-color: blueviolet;
  box-sizing: border-box;
  height: auto;
}

.header-bottom {
  background-color: #fff;
  margin-top: 95px;
  width: 100%;
  width: 100%;
  padding: 10px 0;
  border-bottom: #dedede;
}

.header-bottom > .menu > nav > a {
  color: #000;
  font-weight: 900;
  text-transform: none;
}

.header-bottom > nav > a:hover {
  color: #f72210;
}

.nav-link {
  display: block;
  padding: 0.1rem 0.5rem;
  border-right: 1px solid #dedede;
}

.menu > nav > .nav-link:last-child {
  display: block;
  padding: 0.1rem 0.5rem;
  border-right: none;
}

.input-search {
  border: none;
  text-align: right;
  width: 60px;
}

.margin-left {
  margin-left: 0;
}

.title-section > h3 {
  margin: 0 auto;
}

.page-header {
  background-color: #f72210;
}

.page-header .link-white {
  color: white;
}

.page-header .link-btn-white {
  background-color: white;
  color: #f72210;
}

.page-header .brand svg {
  fill: white;
  display: block;
  width: 396px;
  height: 95px;
  margin: 10px auto 0;
  z-index: 1500;
}

.featured-content {
  background-color: tomato;
  height: auto;
}

.featured-post {
  background-color: turquoise;
  height: 600px;
}

.featured-stories {
  background-color: blue;
  height: 500px;
}

.featured-various {
  background-color: chocolate;
  height: 600px;
}

.featured-opinion {
  background-color: wheat;
  height: 650px;
}

.poster-magazine {
  background-color: cornflowerblue;
  height: auto;
  box-sizing: border-box;
}

.main-poster {
  background-color: blueviolet;
  height: 250px;
}

.first-row,
.row-top,
.row-bottom {
  box-sizing: border-box;
}

.poster-magazine > .row-bottom > div,
.poster-magazine > .first-row > .secondary-poster > .row-top > div {
  background-color: tomato;
  height: 200px;
  border: 1px solid white;
}

.editor-pick {
  margin: 10px 0;
  height: auto;
}

.editor-pick > .row > div {
  background-color: goldenrod;
  border: 1px solid white;
  height: 200px;
}

.featured-slideshow > .row > div {
  background-color: teal;
  border: 1px solid white;
  height: 400px;
}

.picks-row {
  border: 1px solid #dedede;
}

.block-title > h3 > a {
  color: #f72210;
  font-weight: 900;
}

.picks-section > .row > div {
  background-color: turquoise;
  height: 350px;
  border: 1px solid white;
}

.list-features > ul > li {
  border-top: 1px solid #dedede;
  height: 100px;
}

.list-features > ul > li:first-child {
  border-top: 0;
}

.subscribe-cover {
  background-color: #dedede;
  height: 400px;
}

.newsletter {
  background-color: aqua;
  height: 400px;
}

.footer-head {
  border-bottom: 1px solid #dedede;
  height: 150px;
}

.footer-links {
  height: auto;
}

/* Medium screen size */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Small screen size (min-width: 311px;) */
@media (max-width: 767px) {

}
